.media-form {
  margin-bottom: 1rem;
}

.media-form__field {
  margin: 1rem 0;
}

.media-form__dropzone {
  position: relative;
  width: 100%;
  height: 250px;
  background: grey;
}

.media-form__field-label {
  display: block;
  margin-bottom: .5rem;
}

.media-form__field-image-section {
  display: block;

  &:hover {
    cursor: pointer;
  }
}

.media-form__field-image {
  height: 100%;
  background-repeat: no-repeat;
  background-position: contain;
  background-size: cover;
}

.media-form__field-image-icon {
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  width: 2rem;
  height: 2rem;

  &:hover {
    cursor: pointer;
  }
}